.adminNav{
background: rgb(var(--background));
width: 100%;
height: 65px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 1.2rem;
border-bottom: 1px solid rgba(var(--color),0.2);
}
.adminNav .adminImg{
display: flex;
align-items: center;
justify-content: space-between;
gap: 10px;
padding: 5px;
border: 1px solid rgba(var(--color),0.2);
border-radius: 40px;
white-space: nowrap;
}
.adminNav .adminImg p{
font-size: 14px;
margin-left: 5px;
display: none;
}
.adminNav .adminImg img{
width: 30px;
height: 30px;
border-radius: 100%;
outline: 1px solid rgba(var(--color));
}
@media (min-width: 768px){
  .adminNav .adminImg p{
    display: block;
  }
}
.options{
width: 95%;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 10px;
background: var(--fade);
padding: 10px;
margin: 2rem auto 1rem auto;
border-radius: 5px;
border: 1px solid rgba(var(--lcolor),0.1);
box-shadow: 0 4px 6px -1px rgba(var(--lcolor),0.05),
            0 2px 4px -1px rgba(var(--lcolor),0.05);
}
.options button{
padding: 9px 10px;
display: flex;
align-items: center;
gap: 8px;
color: rgb(var(--color));
background: rgba(var(--background),0.8);
border-radius: 5px;
white-space: nowrap;
font-size: 14px;
user-select: none;
outline: 1px solid rgba(var(--color),0.1);
opacity: 0.7;
border: none;
}
.options button:hover{
background: rgba(var(--background),1);
outline: 1px solid rgba(var(--color),0.2);
opacity: 1;
}
.activeTab{
background: rgba(var(--background),1) !important;
outline: 1px solid rgba(var(--color),0.2) !important;
opacity: 1 !important;
}
.options button svg{
width: 18px;
height: 18px;
color: rgb(var(--theme));
}
.product{
width: 95%;
display: flex;
background: var(--fade);
padding: 10px;
margin: 0 auto;
border-radius: 5px;
border: 1px solid rgba(var(--lcolor),0.1);
box-shadow: 0 4px 6px -1px rgba(var(--lcolor),0.05),
            0 2px 4px -1px rgba(var(--lcolor),0.05);
}
.product:has(.AllBlogs){
padding: 10px 5px 10px 10px;
}

/* Create Blog */
.createBlog{
width: 100%;
display: flex;
flex-direction: column;
}
.createBlogDiv{
width: 100%;
}
.blogTools{
width: 100%;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 10px;
background: rgba(var(--background));
border: 1px solid rgba(var(--color),0.1);
padding: 10px;
border-radius: 5px;
}
.blogTools button{
width: 25px;
height: 25px;
display: flex;
align-items: center;
justify-content: center;
background: var(--fade);
color: rgb(var(--color));
border: none;
border-radius: 5px;
border: 1px solid rgba(var(--lcolor),0.1);
}
.blogTools button:hover{
color: rgb(var(--theme));
}
.createBlog .createBlogEditingBlog{
width: 100%;
max-width: 100%;
display: flex;
align-items: center;
margin-bottom: 10px;
}
.createBlogEditingBlog h1{
width: 100%;
display: flex;
align-items: center;
flex-wrap: nowrap;
font-size: 14px;
font-weight: 600;
color: rgba(var(--color),0.9);
}
.createBlogEditingBlog h1 p{
width: calc(100% - 150px);
font-weight: 400;
color: rgba(var(--color),0.7);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin: 0 5px;
}
.createBlogEditingBlog h1 svg{
width: 24px;
height: 24px;
padding: 5px;
border: 1px solid rgba(var(--color),0.2);
border-radius: 5px;
}
.createBlogEditingBlog h1 svg:hover{
background: rgba(var(--background),0.7);
}
.createBlogEditingBlog h1 button{
height: 24px;
padding: 0 10px;
display: flex;
align-items: center;
gap: 8px;
font-size: 14px;
color: rgba(var(--color),0.8);
background: rgba(255,0,0,0.1);
border: 1px solid rgba(var(--color),0.2);
border-radius: 5px;
margin-left: 5px;
}
.createBlog .message{
width: 100%;
padding: 10px;
border-radius: 4px;
margin: 5px auto;
font-size: 14px;
}
.createBlog .error{
background: rgba(255,0,0,0.1);
color: rgba(255,0,0,0.5);
border: 2px solid rgba(255,0,0,0.2);
}
.success{
background: rgba(0,255,0,0.1);
color: rgba(0,255,0,0.5);
border: 2px solid rgba(0,255,0,0.2);
}
.createBlog .createBlogTitle{
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
flex-wrap: wrap;
}
.createBlogTitle .createBlogSelectAndTags{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
gap: 5px;
}
.createBlogTitle .createBlogTitleInput, .createBlogTitle select{
width: 100%;
height: 45px;
outline: none;
border: 1px solid rgba(var(--color),0.1);
background: rgb(var(--background));
color: rgb(var(--color),0.9);
border-radius: 5px;
padding: 0 1rem;
resize: none;
margin-top: 5px;
font-size: 14px;
}
.createBlogTitle select option{
width: 100%;
height: 20px;
padding: 5px 10px;
background: var(--fade);
color: rgba(var(--color));
}
.createBlog .blogCode{
width: 100%;
height: 550px;
outline: none;
border: 1px solid rgba(var(--color),0.1);
background: rgb(var(--background));
color: rgb(var(--color),0.9);
border-radius: 5px;
padding: 1rem;
resize: none;
margin-top: 5px;
font-family: "Inter", sans-serif;
font-size: 14px;
}
.createBlog .createBlogButtons{
display: flex;
align-items: center;
gap: 10px;
}
.createBlogButtons button{
height: 35px;
margin-top: 5px;
padding: 0 14px;
display: flex;
align-items: center;
gap: 8px;
font-size: 14px;
color: rgba(var(--dcolor),0.8);
background: rgba(var(--theme));
border: 1.5px solid rgba(var(--dcolor),0.2);
border-radius: 5px;
}
.createBlogButtons button:nth-of-type(1){
color: rgba(var(--color),0.8);
background: rgba(var(--background));
outline: 1.5px solid rgba(var(--dcolor),0.2);
border: 1.5px solid rgba(var(--lcolor),0.2);
}


.tagInput{
width: 100%;
outline: none;
border: 1px solid rgba(var(--color),0.1);
background: rgb(var(--background));
color: rgb(var(--color));
border-radius: 5px;
padding: 0;
resize: none;
font-size: 14px;
position: relative;
}
.tagInputTags{
width: calc(100% - 20px);
display: flex;
align-self: center;
gap: 10px;
padding: 5px 0;
overflow-x: auto;
margin: 0 auto;
}
.tagInputTags span{
display: flex;
align-items: center;
gap: 5px;
color: rgba(var(--dcolor));
background: rgba(var(--theme),0.8);
border: 1px solid rgba(var(--color),0.15);
border-radius: 50px;
padding: 4px 10px;
font-size: 12px;
margin: 5px 0;
}
.tagInputTags span svg:hover{
background: rgba(var(--background));
}
.tagInput input{
width: 100%;
padding: 5px 1rem 15px 1rem;
font-size: 14px;
border: none;
outline: none;
background: transparent;
color: rgba(var(--color),0.9);
}
.tagInputSuggestions{
width: 95%;
background: var(--fade);
color: rgba(var(--color),0.8);
font-size: 14px;
display: flex;
flex-direction: column;
gap: 5px;
position: absolute;
bottom: 0;
left: 50%;
transform: translate(-50%,105%);
border: 1px solid rgba(var(--color),0.2);
padding: 8px;
border-radius: 5px;
box-shadow: 0 3px 5px -2px rgba(var(--color),0.05);
}
.tagInputSuggestions span{
width: 100%;
padding: 6px 10px;
border-radius: 5px;
user-select: none;
}
.tagInputSuggestions span:hover{
background: rgba(var(--theme),0.5);
}


.previewTabs{
width: 100%;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 10px;
background: rgba(var(--background));
border: 1px solid rgba(var(--color),0.1);
padding: 10px;
border-radius: 5px;
margin-top: 1rem;
}
.previewTabs button{
height: 25px;
display: flex;
align-items: center;
justify-content: center;
background: var(--fade);
color: rgb(var(--color));
border: none;
border-radius: 5px;
border: 1px solid rgba(var(--lcolor),0.1);
padding: 0 10px;
}
.activePreviewTab{
color: rgb(var(--theme)) !important;
}
.previewBox,.AIBox{
width: 100%;
height: 740px;
display: flex;
flex-direction: column;
flex-grow: 1;
background: rgb(var(--background));
color: rgb(var(--color));
border-radius: 5px;
padding: 1rem;
margin-top: 5px;
border: 1px solid rgba(var(--color),0.1);

}
.previewBoxBlogContent{
height: 100%;
width: 100%;
line-height: 1.6;
font-size: 15px;
overflow: auto;
}



.AIBoxMessageBox{
width: 100%;
height: calc(100% - 80px);
display: flex;
flex-direction: column;
flex-grow: 1;
background: transparent;
overflow-x: hidden;
overflow-y: auto;
padding-bottom: 1rem;
}
.AIBoxInputBox{
width: 100%;
height: 40px;
display: flex;
align-items: center;
gap: 10px;
background: transparent;
margin: auto auto 0 auto;
position: relative;
}
.AIBoxInputBox span{
display: flex;
align-items: center;
gap: 5px;
position: absolute;
top: -60%;
}
.AIBoxInputBox span p{
width: 10px; 
height: 10px;
border-radius: 100%;
background: rgba(var(--color),0.2);
animation: load-balls 1s ease-in-out infinite;
}
.AIBoxInputBox span p:nth-of-type(2){
animation-delay: 0.2s;
}
.AIBoxInputBox span p:nth-of-type(3){
animation-delay: 0.4s;
}
@keyframes load-balls{
0%, 100% {
  transform: translateY(0);
}
50% {
  transform: translateY(-5px);
}}

.AIBoxInputBox input{
width: 100%;
height: 100%;
outline: none;
border: 1px solid rgba(var(--color),0.2);
color: rgb(var(--color));
background: var(--fade);
border-radius: 8px;
padding: 0 12px;
}
.AIBoxInputBox button{
height: 40px;
aspect-ratio: 1/1;
background: rgb(var(--color));
color: rgb(var(--background));
padding: 0;
border: none;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
pointer-events: auto;
}
.AIBoxInputBox button[disabled]{
opacity: 0.6;
pointer-events: none;
}
.AIBoxInputBox button svg{
width: 50%;
height: 50%;
}
.AIBoxUserMessage{
width: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
margin: 10px 0;
}
.AIBoxUserMessage p{
width: fit-content;
max-width: 500px;
max-width: min(80%, 500px);
background: var(--fade);
padding: 12px;
border-radius: 10px;
line-height: 1.5;
font-size: 14px;
border: 1px solid rgba(var(--lcolor),0.1);
word-wrap: break-word;
word-break: break-all;
}
.AIBoxAIMessage{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.AIBoxAIMessage *{
max-width: 100% !important;
}
.AIBoxAIMessage {
  font-family: sans-serif;
  color: rgba(var(--color));
  line-height: 1.6;
}

.AIBoxAIMessage h1 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.AIBoxAIMessage h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 1rem 0;
  font-weight: bold;
}

.AIBoxAIMessage h3 {
  font-size: 1.2rem;
  margin: 1.3rem 0 0.5rem 0;
  font-weight: bold;
}

.AIBoxAIMessage h4 {
  font-size: 1rem;
  margin: 1.2rem 0 0.4rem 0;
  font-weight: bold;
}

.AIBoxAIMessage h5 {
  font-size: 0.8rem;
  margin: 1.1rem 0 0.4rem 0;
  font-weight: bold;
}

.AIBoxAIMessage h6 {
  font-size: 0.6rem;
  margin: 1rem 0 0.8rem 0;
  font-weight: bold;
}

.AIBoxAIMessage p {
  margin: 1rem 0;
}

.AIBoxAIMessage ul,
.AIBoxAIMessage ol {
  margin: 1rem 0 1rem 0;
  padding-left: 1.5rem;
  color: rgba(var(--color));
}

.AIBoxAIMessage li {
  margin-bottom: 0.4em;
  color: rgba(var(--color));
}

.AIBoxAIMessage blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 4px solid rgba(var(--color), 0.3);
  color: rgba(var(--color), 0.8);
  font-style: italic;
}

.AIBoxAIMessage a {
  color: var(--theme);
  text-decoration: underline;
}

.AIBoxAIMessage hr {
  border: none;
  border-top: 1px solid rgba(var(--color), 0.2);
  margin: 2em 0;
}
.AIBoxAIMessage pre{
  margin: 0 auto !important;
}
.AIBoxAIMessage .blogCodeBox{
  margin: 0 auto !important;
}
.AIBoxAIMessage .blogCodeBlock{
  width: 100% !important;
  margin: -1.4rem auto 0 auto !important;
}
@media (min-width: 768px){
  .createBlog{
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
  .createBlogDiv, .createBlogEditingBlog{
    width: 50%;
  }
  .previewTabs{
    margin-top: 0;
  }
}



/* All Blogs */
.AllBlogs{
width: 100%;
max-height: 880px;
padding: 5px;
overflow-y: auto;
}
.AllBlogsLoading, .AllBlogsNoBlogs{
font-size: 16px;
font-weight: 500;
color: rgba(var(--color),0.8);
}
.AllBlogsSearch{
width: 100%;
height: 45px;
display: flex;
align-items: center;
flex-direction: row;
gap: 10px;
}
.AllBlogsSearch input{
width: 100%;
height: 100%;
background: rgba(var(--background));
color: rgba(var(--color));
border: 1px solid rgba(var(--color),0.1);
outline: none;
padding: 0 1rem;
border-radius: 5px;
font-size: 14px;
}
.AllBlogsSearch button{
padding: 0 14px;
height: calc(100% - 4px);
border-radius: 5px;
outline: none;
display: flex;
align-items: center;
gap: 8px;
font-size: 14px;
color: rgba(var(--dcolor),0.8);
background: rgba(var(--theme));
border: none;
outline: 1.5px solid rgba(var(--dcolor),0.2);
}
.AllBlogsSearchResult{
margin: 12px 10px;
font-size: 14px;
color: rgba(var(--color),0.8);
font-weight: 400;
}
.AllBlogsList{
width: 100%;
display: flex;
flex-wrap: wrap;
gap: 15px;
margin-top: 2rem;
}
.AllBlogsCard{
width: 100%;
height: 120px;
background: rgba(var(--background),0.7);
padding: 1rem 50px 1rem 1rem;
border-radius: 10px;
display: flex;
flex-direction: column;
border: 1px solid rgba(var(--color),0.1);
box-shadow: 0 3px 5px -2px rgba(var(--color),0.05);
position: relative;
}
.AllBlogsCardTools{
height: 100%;
position: absolute;
top: 0;
right: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 8px;
padding: 8px;
opacity: 0;
pointer-events: none;
transition: all 0.3s;
}
.AllBlogsCardTools svg{
width: 28px;
height: 28px;
color: rgba(var(--color));
padding: 6px;
background: var(--fade);
border: 1px solid rgba(var(--color),0.2);
border-radius: 5px;
}
/*
.AllBlogsCard svg:nth-of-type(2){
background: rgba(var(--theme),0.2);
border: 1px solid rgba(var(--theme),1);
}
*/
.AllBlogsCard svg:nth-of-type(3){
background: rgba(255,0,0,0.2);
border: 1px solid rgba(255,0,0,0.4);
}
.AllBlogsCard:hover .AllBlogsCardTools{
opacity: 1;
pointer-events: auto;
}
.AllBlogsCard .AllBlogsCardHeader{
display: flex;
align-items: center;
}
.AllBlogsCard .AllBlogsCardHeader img{
width: 40px;
height: 40px;
border-radius: 100%;
outline: 1px solid rgba(var(--color),0.6);
margin-right: 10px;
}
.AllBlogsCard .AllBlogsCardHeader h1{
font-size: 14px;
font-weight: 500;
padding-left: 10px;
border-left: 1px solid rgba(var(--color),0.4);
color: rgba(var(--color), 0.8);
}
.AllBlogsCard .AllBlogsCardHeader h1 p{
font-size: 14px;
font-weight: 400;
color: rgba(var(--color), 0.5);
margin-top: 4px;
}
.AllBlogsCard .AllBlogsCardTitle{
width: 100%;
font-size: 14px;
font-weight: 600;
margin-top: 1.5rem;
color: rgba(var(--color), 0.8);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.AllBlogsViewMore{
background: rgba(var(--background));
color: rgba(var(--color));
padding: 8px 1rem;
border-radius: 5px;
margin: 1rem auto 0 5px;
font-size: 14px;
border: 1.5px solid rgba(var(--lcolor),0.1);
outline: 1.5px solid rgba(var(--dcolor),0.2);
}
@media (min-width:768px){
  .AllBlogsCard{
    width: calc(50% - 10px);
  }
}




/* ADMIN AUTH BOX */
.adminAuth{
width: 90%;
max-width: 400px;
display: flex;
flex-direction: column;
padding: 1rem;
border-radius: 5px;
background: var(--fade);
position: absolute;
top: 10%;
left: 50%;
transform: translateX(-50%);
border: 1px solid rgba(var(--lcolor),0.1);
box-shadow: 0 4px 6px -1px rgba(var(--lcolor),0.05),
            0 2px 4px -1px rgba(var(--lcolor),0.05);
}
.adminAuth form{
width: 100%;
display: flex;
flex-direction: column;
margin-top: 1rem;
background: rgba(var(--background));
border-radius: 5px;
padding: 1rem;
}
.adminAuth form p{
font-size: 14px;
opacity: 0.8;
font-weight: 600;
}
.adminAuth form input{
padding: 14px 1rem;
border-radius: 5px;
background: var(--fade);
color: rgba(var(--color));
margin-top: 6px;
margin-bottom: 1rem;
border: none;
outline: none;
border: 1px solid rgba(var(--color),0.1);
}
.adminAuth form button{
width: fit-content;
min-width: 100px;
padding: 10px;
border-radius: 5px;
background: var(--fade);
color: rgba(var(--color));
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
margin-top: 1rem;
border: none;
outline: none;
font-size: 14px;
border: 2px solid rgba(var(--color),0.05);
}
.adminAuth .error{
width: 100%;
border-radius: 5px;
padding: 5px 8px;
background: rgba(255,0,0,0.2);
border: 2px solid rgba(var(--color),0.05);
margin: 4px auto;
color: rgba(255,0,0,0.8);
font-size: 14px;
}

/* Admin Analytics */
.adminAnalytics{
width: 100%;
padding: 1.5rem;
margin: 0 auto;
background: rgba(var(--background));
border: 1px solid rgba(var(--color),0.1);
border-radius: 5px;
}
.adminAnalytics h1{
display: grid;
grid-template-columns: auto 1fr;
grid-template-rows: auto auto;
align-items: center;
column-gap: 12px;
row-gap: 5px;                 
}
.adminAnalytics h1 svg{
grid-column: 1;
grid-row: 1 / 3; 
width: 35px;
height: 35px;
padding: 8px;
color: rgba(var(--theme));
background: rgba(var(--theme),0.2);
border-radius: 5px;
}
.adminAnalytics h1 p{
grid-column: 2;
grid-row: 1;
font-size: 18px;
color: rgba(var(--color),0.8);
}
.adminAnalytics h1 span{
grid-column: 2;
grid-row: 2;
font-size: 13px;
color: rgba(var(--color),0.5);
font-weight: 400;
}
.adminAnalyticsContainer{
display: flex;
flex-wrap: wrap;
gap: 1rem;
margin: 0.8rem 0 0 0;
}
.adminAnalyticsBox{
width: 100%;
background: var(--fade);
padding: 1rem;
border-radius: 10px;
border: 1px solid rgba(var(--lcolor),0.1);
}
.adminAnalyticsBox svg{
width: 30px;
height: 30px;
padding: 6px;
color: rgba(var(--color));
background: rgba(var(--color),0.1);
border-radius: 5px;
}
.adminAnalyticsBox p{
font-size: 14px;
color: rgb(var(--color),0.6);
margin: 5px 0 15px 0;
}
.adminAnalyticsBox h2{
font-size: 20px;
color: rgb(var(--color),0.8);
}
.adminAnalyticsBox .adminAnalyticsBar{
width: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
padding: 2px 5px;
border-radius: 100px;
margin: 10px 0 1rem 0;
font-size: 12px;
background-image: linear-gradient(
    to right,
    rgb(var(--theme)) 30%,
    transparent 0%
  );
background-repeat: no-repeat;
background-position: left;
border: 1px solid rgba(var(--color),0.2);
position: relative;
}
.adminAnalyticsBox .adminAnalyticsBar span{
transform: translateY(140%);
position: absolute;
left: 5px;
font-size: 13px;
color: rgb(var(--color),0.6);
}
@media(min-width: 500px){
  .adminAnalyticsBox{
  width: 200px;
  }
}




/* Admin Settings */
.dashboxBlur > *:not(nav){
filter: blur(1px);
pointer-events: none;
}
.adminSettings{
width: 100%;
padding: 1rem;
margin: 0 auto;
background: rgba(var(--background));
border: 1px solid rgba(var(--color),0.1);
border-radius: 5px;
}
.adminSettings .dashboxData{
width: 96%;
max-width: 400px;
display: flex;
align-items: center;
gap: 0.5rem;
margin: 0 auto 0.8rem auto;
}
.adminSettings .dashboxData span{
width: fit-content;
display: flex;
align-items: flex-end;
position: relative;
}
.adminSettings .dashboxData span:nth-of-type(2){
flex-direction: column;
align-items: flex-start;
padding-left: 10px;
}
.adminSettings .dashboxData span h1{
font-size: 16px;
opacity: 0.9;
word-break: break-all;
}
.adminSettings .dashboxData span p{
font-size: 14px;
opacity: 0.7;
margin-top: 2px;
word-break: break-all;
}
.adminSettings .dashboxData span img{
width: 60px;
height: 60px;
border-radius: 100%;
border: 1px solid rgba(var(--color),0.3);
padding: 5px;
}
.adminSettings .dashboxData span svg{
width: 25px;
height: 25px;
padding: 5px;
border-radius: 100%;
border: 1px solid rgba(var(--color),0.3);
margin-left: -15px;
background: var(--fade);
position: absolute;
bottom: 0;
right: -10px;
}
.adminSettings .dashboxForm{
width: 96%;
max-width: 400px;
margin: 0 auto;
display: flex;
flex-direction: column;
}
.adminSettings .dashboxForm fieldset{
width: 100%;
margin: 12px auto 0 auto;
border: 1.5px solid rgba(var(--color),0.1);
border-radius: 5px;
padding: 0 10px;
}
.adminSettings .dashboxForm fieldset legend{
margin-left: 2px;
padding: 0 2px;
color: rgba(var(--color),1);
font-size: 14px;
}
.adminSettings .dashboxForm fieldset input, .adminSettings .dashboxForm fieldset textarea{
width: 100%;
height: 100%;
color: rgba(var(--color),0.6);
outline: none;
padding: 12px 0 12px 5px;
border: none;
background: transparent;
opacity: 0.85;
font-size: 14px;
font-family: "Inter", sans-serif;
resize: vertical;
}
.adminSettings .dashboxForm fieldset textarea{
min-height: 150px;
}
.adminSettings .dashboxForm span{
margin-top: 1rem;
display: flex;
flex-wrap: wrap;
align-items: center;
gap: 8px;
}
.adminSettings .dashboxForm span button{
min-width: 70px;
padding: 8px;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
border: 1.5px solid rgba(var(--dcolor),0.15);
outline: 1.5px solid rgba(var(--lcolor),0.1);
border-radius: 6px;
background: var(--fade);
color: rgba(var(--color),0.7);
}
.adminSettings .logoutButton{
background: rgba(255,0,0,0.1) !important;
border-color: rgba(255,0,0,0.15) !important;
outline: none !important;
}


